<footer class="flex flex-row-reverse border justify-around py-10 gap-20" [ngClass]="{ hidden: noTodosClass() }">
  <span class="text-lg text-blue-500">
    <strong>{{ activeCount() }}</strong>
    {{ itemsLeftText() }}
  </span>
  <ul class="flex justify-around text-2xl gap-5 text-blue-700">
    <li class="border rounded-lg py-2 px-5">
      <a
        href="/"
        [ngClass]="{ selected: filterSig() === filterEnum.all }"
        (click)="changeFilter($event, filterEnum.all)"
        >All</a
      >
    </li>
    <li class="border rounded-lg py-2 px-3">
      <a
        href="/"
        [ngClass]="{ selected: filterSig() === filterEnum.active }"
        (click)="changeFilter($event, filterEnum.active)"
        >Active</a
      >
    </li>
    <li class="border rounded-lg py-2 px-2">
      <a
        href="/"
        [ngClass]="{ selected: filterSig() === filterEnum.completed }"
        (click)="changeFilter($event, filterEnum.completed)"
        >Completed</a
      >
    </li>
  </ul>
</footer>
